#PBS -m bae -q QUEUE -l nodes=NODENUM
cd /home/bjornmm/Documents/svn/ntnu/master/code/main/cpp
export PATH=$HOME/boye/bin:$PATH
export GEM_HOME=/home/bjornmm/local/gemrepo
cd ../ruby
ruby plotdaemon.rb
cd ../cpp
mpiexec distributor distconfig-go.txt

