set xlabel 'generations'
set ylabel 'fitness'
set autoscale x
set yrange [0:1]
set autoscale ymax
#set term png small # size 480,320
#set term postscript eps enhanced
set term pdf
set key outside
set key box
set output 'current.png'
set title 'current'
set key title 'Legend'
set style data lines
plot 'current.graph' using 1 title 'Best' with lines
