#! /bin/bash -l
#PBS -N JOBTITLE
#PBS -l nodes=NODES
#PBS -j oe
#PBS -q QUEUE

cd ${PBS_O_WORKDIR}
export PATH=$HOME/local/bin:$PATH
export GEM_HOME=/home/bjornmm/local/gems
cd ../ruby
ruby plotdaemon.rb
cd ../cpp
mpirun ./neatzsche SEED SETTINGS POPOPT SELECTOPT EVALOPT STOPOPT

