#PBS -q QUEUE -l nodes=NODENUM
cd /home/bjornmm/neatzsche/trunk/cpp
export PATH=$HOME/local/bin:$PATH
export GEM_HOME=/home/bjornmm/local/gemrepo
cd ../ruby
ruby plotdaemon.rb
cd ../cpp
mpiexec distributor distconfig-eye.txt &> output.txt

