verbosity:              0
slave-verbosity:        0
batch-mode:             EOF
master-output-mode:     EOF
master-program:         /home/bjornmm/svn/ntnu/master/code/main/cpp/neatmaster
master-arguments:       0 SETTINGFILE "spawn 29 5 0 1.0 GENOMES" "sigma 1" NODENUM "count GENS 1"
slave-program:          /home/bjornmm/svn/ntnu/master/code/main/cpp/neatslave
slave-arguments:	0 SETTINGFILE "go GENS 0.2 10 1 1 500 500"
